*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    body {
        background-image: url("./Img/Background.png");
        font-family: 'Montserrat', sans-serif;
       width:100%;
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    button {
        font-family: 'Montserrat', sans-serif;
    }
    li,ul,a {
        list-style: none;
        text-decoration: none;
    }
     /*
     #fcbf72
     #7e8082
     */

     /*-----------------HEADER-------------------*/
    .header_pgp {
        height: 60px;
        width: 80%;
        display: flex;
        margin: 20px 0 20px 0;
        flex-direction: row;
        justify-content: space-between;
        justify-self: center;
        padding: 0 10px 0 30px;
        background-color: #ffffff; 
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgb(180, 180, 180);  
    }
    .header_logo_pgp {
        height: 50px;
        width: auto;
        align-self: center;
    }
    .header_logo_pgp > img {
        height: 100%;
        width: auto;
    }
    .header_btn_pgp {
       align-self: center; 
       flex-direction: row;
       display: flex;
    }
    .navegacion_link_pgp {
        gap: 15px;
        display: flex;
        flex-direction: row;
        align-self: center;
        padding-right: 30px;
        font-size: 15px;
    }
    .navegacion_link_pgp a {
        color: #151515;
    }
    .navegacion_link_pgp a:hover,  .header_buscador_pgp:hover{
        color:  #fa5b4b;
    }
    .header_buscador_pgp {
        padding-right: 30px;
        color: #6c6c6c;
        font-size: 18px;
        align-self: center; 
        cursor: pointer;
    }
    .header_btn_pgp button {
        border: none;
        background-color: #fa5b4b;
        color: #ffffff;
        border-radius: 5px;
        padding:9px; 
        font-size: 14px;
        margin-right: 10px;
        cursor: pointer;
    }
    .header_btn_pgp button:hover {
        background-color: #db4d40;
    }
     
     /*-----------------MAIN-------------------*/

             .botones_flotantes {
               position: fixed;
               right: 30px;
               bottom: 10px;
               gap: 20px;
              }
             .botones_flotantes div {
               width: 60px;
               height: 60px;
               color: #ffffff;
               background-color: #fa5b4b;
               border-radius:50%;
               display: flex;
               align-items: center;
               justify-content: center;
               font-size: 38px;
               margin-bottom: 20px;
               cursor: pointer;
              }
              .botones_flotantes img {
                  height: 65%;
              }
              .botones_flotantes div:hover {
                  background-color: #db4d40;
              }

.main_pgp {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

}
.all_main {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
  /*---------FILTRADOR----------*/
.filtro_pgp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 4);
    margin-top: 40px;
    border-radius: 10px;
}
.title_filtro {
    display: flex;
    align-items: center;
    padding-left: 30px;
    background-color: #fa5b4b;
    border-radius: 5px;
    color: #ffffff;
    width: 95%;
    height: 38px;
    margin-bottom: 20px;
    font-size: 22px;
    margin: 5px;
}
.filtro_filtradores input {
    font-size: 16px;
    margin-left: 30px;
    gap: 10px;

}
.espacio_filtro {
    margin-right: 5px;
}
.titlemayor_filtro {
    font-size: 20px;
    margin: 10px;
    border-bottom: 2px solid #fcbf72;
    padding-bottom: 2px;
}
.filtro_filtradores div {
    margin: 0 0 30px 10px;
}
.divconopciones {
    width: 80%;
    height: 30px;
    border: 2px solid #fcbf72;
    margin-left: 30px ;
}
.filtro_filtradores .fas {
    color: #fcbf72;
    font-size: 20px;
    margin-left: 30px;
}
.buscador_delfiltro input {
    width: 60%;
    border: 2px solid #fcbf72;
    padding: 5px;
    background-color: #ffffff;
}
  /*---------PUBLICACIONES - DM ----------*/
.derecha_main {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
    width: calc((100% / 4) * 3);
    justify-content: center;
}
.banner_delbuscador {
    width: 100%;
    height: fit-content;
    border: 3px solid #ffffff ;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-color: #fcbf72;
    margin-bottom: 30px;
    align-items: center;
}
.banner_delbuscador img{
       height: 80px;
}
.banner_delbuscador p {
    padding: 10px;
    font-size: 30px;
    color: #fa5b4b;
    text-align: justify;
}
.publicaciones_home {
    max-width: 98%;
    height: 1600px;
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #7e808225;
    border-radius: 15px;
    padding: 20px ;
}
.Publicacion_home {
    width: calc(98% / 3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    background-color: #ffffff;
    background-size:cover
}
.publicacion_imagen {
    width: calc(100%);
    border-radius: 15px;
    overflow: hidden;
    background-color:#f2d1c7 ;
    padding: 10px;
    background-size:cover
}
.publicacion_imagen  > img{
   width: 100%;
   border-radius: 15px;
   background-size:cover
}
.phi2, .phi6, .phi7 {
    background-color: #e3eadf;
}
.phi3, .phi4, .phi8 {
    background-color: #feeacb;
}
.Publicacion_home p {
    padding: 0 20px 0 20px;
    color: #262a4c;
    font-size: 15px;
    text-align: justify; 
}
.publicacion_btn {
    padding:  10px 10px 10px 0;
}
.publicacion_btn > button {
    padding-left: 15px;
    border: none;
    background-color: transparent;
    color: #fcbf72;
    font-size: 18px;
    cursor: pointer;
}
.publicacion_btn > button:hover {
 color:#e2aa66;
}
.nombre_publicación{
    padding: 15px;
    background-color: #fcbf72; 
    position: relative;
    
}
.Publicacion_home .nombre_publicación {
    color: #ffffff;
    padding: 10px 10px 20px 10px;
    font-size: 18px; 
}
.Publicacion_home .nombre_publicación .fas{
    color: #fa5b4b
}
.Publicacion_home .etiqueta_pub {
    padding: 5px;
    background-color: #fa5b4b;
    color: #ffffff;
    border-radius: 5px;
    align-self: flex-end;
    font-size: 13px;
    width: 45%;
    margin-top: -25px;
    z-index: 20000;
    margin-right: 5px;
    text-align: center;  
}

/*-----------------FOOTER-------------------*/
footer {
    width: 100%;
    background-color: hsl(0, 0%, 100%, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
}
.el_footer {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: center;
     font-size: 16px;
}
.logo_footer img {
    height: 80px;
}

.contacto_footer .fas {
 padding-right: 10px;
 padding-top: 10px;
 color: #fa5b4b;

}
.siguenos_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}
.siguenos_footer p {
    font-size: 20px;
    color: #fa5b4b;
    font-weight: bold;
    width: 200px;
    text-align: center;
    padding-bottom: 10px;
}
.siguenos_footer img {
    height: 50px;
    border-radius: 10px;
}
.Contenido_footer, .siguenos_footer, .contacto_footer, .logo_footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Contenido_footer p{
    padding-bottom: 5px;
    font-size: 14px;
}
.Contenido_footer .sub_cfooter {
    font-size: 18px;
    color: #fa5b4b;
    font-weight: bold;
    padding-top: 8px;
}


