*{
margin:0;
padding:0;
box-sizing:border-box;
}
/*
#262a4c
#51b78e
#f2dac7
#e3eadf
#feeacb
*/
body, button {
    background-color: #e0e2e7;
    font-family: 'Montserrat', sans-serif;
}
li,ul,a {
    list-style: none;
    text-decoration: none;
}
.header_home {
   width: 100%;
   height: 95px;
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
}
.seccion1_headerhome {
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 30px;
}

.header_logo_pgp {
    height: 50px;
    width: auto;
}
.header_logo_pgp > img {
    height: 100%;
    width: auto;
}
.header_btn_pgp {
   align-self: center; 
   flex-direction: row;
   display: flex;
}
.navegacion_link_pgp {
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-right: 30px;
    font-size: 14px;
}
.navegacion_link_pgp a {
    color: #151515;
}
.navegacion_link_pgp a:hover {
    color:  #fa5b4b;
}
.header_buscador_pgp {
    padding-right: 30px;
    color: #6c6c6c;
    font-size: 18px;
    align-self: center; 
    cursor: pointer;
}
.header_btn_pgp button {
    border: none;
    background-color: #fa5b4b;
    color: #ffffff;
    border-radius: 5px;
    padding:9px; 
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

.header_divisor {
    background-color: #262a4c;
    height: 15px;
    width: 100%;
}
.main_home {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
    
}
.aside_home {
    width: 330px;
    height: calc(100vh - 115px);
    background-color: #ffffff;
    position: fixed;
    left: 15px;
    top: 100px;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;    
    padding: 5px;
     
}
.sub_huellas {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180px;
    position: absolute;
    cursor: pointer;   
   
}
.sub_huellas > .fas {
    color: #51b78e;
   
}
.sub_huellas > p {
    font-size: 17px;
    position: absolute;
    padding-top: 90px;
    color: #ffffff;
}
.huella1, .huella3 {
    transform: rotate(25deg);
}
.huella2, .huella4,  .mh1{
    align-self: flex-end;
    transform: rotate(340deg);
    top: 410px;   
}
.huella2 {
    transform: rotate(340deg);
    top: 148px;
}
.huella3, .mh2 {
    transform: rotate(10deg);
    top: 285px;
}
.minihuellitas {
    position: absolute;
    font-size: 40px;
    color: #ffffff;
    animation-name: huellas;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
    animation-timing-function: linear;
}
@keyframes huellas{
    100% {
        color: #262a4c; 
    }
}
.mh1 {top: 500px;left: 60px;}
.mh2 {top: 200px;left: 30px;
      animation-duration: 8s;
      animation-delay: 10s; }
.mh3 {top: 60px;left: 260px;
      animation-duration: 6s;
      animation-delay: 7s;}
.mh4 {top: 350px;left: 220px;
      animation-duration: 10s;
    animation-delay: 3s;}
.seccion1_home {
    width: calc(100vw - 450px);
    height: fit-content;
    background-color: #ffffff;
    position: relative;
    left: 400px;
    top: 35px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 15px;
   
}
.menu_home {
    width: auto;
    height: 60px;
      
}
.publicaciones_home {
    width: 100%;
    max-height: 1300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    background-color: #e0e2e7;
    border-radius: 15px;
    
    padding: 25px ;
    justify-content: space-between;
}
.Publicacion_home {
    width: 240px;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}
.publicacion_imagen {
    width: 240px;
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
    background-color:#f2d1c7 ;
    padding: 10px;
}
.publicacion_imagen  > img{
   width: 220px;
   height: auto;
   border-radius: 15px;
}
.phi2, .phi6, .phi7 {
    background-color: #e3eadf;
}
.phi3, .phi4, .phi8 {
    background-color: #feeacb;
}
.Publicacion_home p {
    padding: 0 10px 0 10px;
    color: #262a4c;
}
.publicacion_btn {
    padding:  10px 10px 10px 0;
}
.publicacion_btn > button {
    padding-left: 15px;
    border: none;
    background-color: transparent;
    color: #51b78e;
    font-size: 18px;
    cursor: pointer;
}
